.question{
    background-color: #222222;
    padding: 100px;
    color: white;
    text-align: center;
    font-size: 40px; 
    border-radius: 10px;
    margin-bottom: 20px;
}
.container{
    padding: 0px 400px;
    
}
.answer div{
    width: 300px;
    height: 200px;   
    font-size: 30px;
    border-radius: 10px;
    color: #fff;
    text-align: center;
    line-height: 200px;
}
.answer{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}
#yes{
    background-color: #1aa260;
}
#no{
    background-color: #dd5143;
}